.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    padding: 20px;
    display: flex;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.tweetBox__imageInput {
    border: none;
    padding: 10px;
}

.tweetBox__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    /*margin-top: 0px !important;*/
    margin-left: auto !important;
}

.tweetBox__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #50b7f5;
    padding: 10px;
}

.tweetBox__icons:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.tweetBox__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    padding: 10px;
}